body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/background.jpg");
    background-size: cover;
    z-index: 0;
    height: 100vh;
}

.form-space {
    width: 720px;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin: auto;
    padding: 50px;
}

.formgroup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* LOGIN PAGE FORM */
#form_header {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 50px;
    margin: 0 10px;
    padding: 0 10px;
}

#form_header h3 {
    font-size: 30px;
    margin: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.form label {
    font-size: 28px;
    text-transform: capitalize;
    word-spacing: 0.1px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

span{
    color: red;
}

.form input {
    border: none;
    border-radius: 20px;
    margin: 5px 0 30px 0;
    height: 30px;
    /* width: 100px; */
}

.form select {
    border-radius: 20px;
    margin: 5px 0 30px 0;
    height: 30px;
}

/* GENERAL BUTTON STYLE */

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 0;
}

.buttons button {
    /* background-color: #4CAF50; */
    /* color: white; */
    background-color: black;
    opacity: 1;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}

.buttons button:hover {
    opacity: 2;
    letter-spacing: 2px;
}

/* SIGN UP OPTIONS */
.form_options {
    display: grid;
    gap: 17px;
    grid-template-columns: 50% 50%;
}

.form_options p {
    font-size: 22px;
}

.form_options a {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    color: rgba(165, 45, 165, 0.991);
}

.form_options a:hover {
    color: white;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
}
/* LOGIN PAGE FORM */

#form_header {
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 50px;
    margin: 0 10px;
    padding: 0 10px;
    font-size : 30px;
}

#form_header h3 {
    font-size: 20px;
    margin: 15px;
}

/* #form_header img {
    width: 0px;
    height: 50px;
} */

.form-space {
    background-color: whitesmoke;
    border-radius: 50px;
    /* opacity: 0.2; */
    color: black;
    width: fit-content;
    margin: auto;
}

.form-group {
    margin: 35px;
    overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.form label {
    font-size: 28px;
    text-transform: capitalize;
    word-spacing: 0.1px;
    letter-spacing: 1px;
}

.form input {
    border-radius: 20px;
    margin: 5px 0 30px 0;
    height: 30px;
}

.form select {
    border-radius: 20px;
    margin: 5px 0 30px 0;
    height: 30px;
}

/* GENERAL BUTTON STYLE */

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 0;
}

.buttons button {
    background-color: #4CAF50;
    /* color: white; */
    /* background-color: black; */
    opacity: 1;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
}

.buttons button:hover {
    opacity: 2;
    letter-spacing: 2px;
}

/* SIGN UP OPTIONS */
.form_options {
    display: grid;
    gap: 17px;
    grid-template-columns: 50% 50%;
}

.form_options p {
    font-size: 22px;
}

.form_options a {
    margin: 0;
    padding: 0;
    text-decoration: underline;
    color: rgba(165, 45, 165, 0.991);
}

.form_options a:hover {
    color: white;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
}