{% extends 'accounts/base.html' %}
{% load static %}

{% block css %} <link rel="stylesheet" href="{% static 'css/form.css' %}"> {% endblock %}
{% block title %}Create an Account{% endblock %}
{% block content%}
    <header id="heading">
        <h1>ACCOMMODATIONS HUB</h1>
    </header>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form">
            <div class="formelements">
                <label for="id_first_name">First Name</label>
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
            <div class="formelements">
                <label for="id_last_name">Last Name</label>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>
            <div class="formelements">
                <label for="id_username">Username</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="formelements">
                <label for="id_email">Email Address</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="formelements">
                <label for="id_account_type">Account Type</label>
                {{ form.account_type }}
                {{ form.account_type.errors }}
            </div>
            <div class="formelements">
                <label for="id_gender">Gender</label>
                {{ form.gender }}
                {{ form.gender.errors }}
            </div>
            <div class="formelements">
                <label for="id_password1">Create Password</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="formelements">
                <label for="id_password2">Enter Password</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
        </div>
        <div class="buttons">
            <button type="submit">
                Submit
            </button>
        </div>
    </form>
{% endblock %}