{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %} | VaseCrib</title>
</head>
<body>
    {% include 'nav.html' %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}{% endblock %}

    <script src="{% static 'js/nav.js' %}"></script>
    <script src="{% static 'js/upload.js' %}"></script>
</body>
</html>